[submodule "CustomGrip"]
	path = DocumentationCanvas/CustomGrip
	url = https://github.com/gshinohara/CustomGrip.git
[submodule "WireEventImplementor"]
	path = DocumentationCanvas/WireEventImplementor
	url = https://github.com/gshinohara/WireEventImplementor.git
